<div class="grid grid-4">
  <div class="panel __l-grey-background __box-shadow">
    <h2><%= @calendar.appointments.first.title %></h2>
    <ul>
      <li><%= @calendar.appointments.first.location %></li>
      <li><%= @calendar.appointments.first.start_date %></li>
    </ul>
  </div>
</div>
